
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 200vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    min-height: 150vh;
    
}

h2,p,figure,dl,ul{
    margin-left: 1rem;
}
ul,figure{
    margin-left: 2.5rem;
    margin-top: 1em;
}
h2{
    padding-top: 2rem;
}
dd{
    padding-left: 2rem;
}






















